<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Djangoport</title>
</head>
<body>
    <h1>Djangoport</h1>
    <form action="result" method="POST">
        <label for="appname">App Name</label><br>
        <input type="text" name="appname"><br><br>
        <label for="repourl">Repository URL</label><br>
        <input type="text" name="repourl"><br><br>
        <label for="numthreads"> Number of Threads</label><br>
        <input type="number" name="numthreads"><br><br>
        <input type="submit">
    </form>
</body>
</html>